[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
nltk = "*"
gensim = "*"
jupyter = "*"
contractions = "*"
pandas = "*"
scikit-learn = "*"
seaborn = "*"
stanza = "*"
spacy = "*"
scipy = "<1.13.0"
transformers = "*"
tf-keras = "*"
stanfordcorenlp = "*"

[dev-packages]

[requires]
python_version = "3.12"
