[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
nltk = "*"
gensim = "*"
jupyter = "*"
contractions = "*"
pandas = "*"
scikit-learn = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.12"
